@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/averiasanslibre/v20/ga6SaxZG_G5OvCf_rt7FH3B6BHLMEd31N5cXL5c.ttf) format('truetype');
}
